In [16]:
!pip install wget
!pip install pandas
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install clearml

Requirement already satisfied: wget in /opt/conda/lib/python3.10/site-packages (3.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.4.0)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.6)

In [17]:
import wget
import pandas as pd
from sqlalchemy import create_engine

In [10]:
url = "https://perso.telecom-paristech.fr/eagan/class/igr204/data/cars.csv"
wget.download(url, out="./data")

'./data/cars.csv'

In [18]:
df = pd.read_csv("./data/cars.csv", delimiter=';')
df.head(5)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US

In [12]:
engine = create_engine("postgresql://mazitov_user:mazitov_password@postgres:5432/mazitov_db")
connection = engine.connect()

In [13]:
res_code = df.iloc[1:].to_sql('cars', engine, index=False)
assert res_code == 406

In [14]:
pd.read_sql("select * from cars limit 5", engine)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US

In [15]:
connection.commit()

In [5]:
# from sqlalchemy import text
# sql = '''DROP TABLE cars '''
# connection.execute(text(sql))
# connection.commit()